@{
    ViewBag.Title = "Tere tulemast people!";
}

<main>
    <div class="jumbotron">
        <h1>@ViewBag.Greeting, Kallis sõber!</h1>
    </div>
    <div>
        @ViewBag.Message
        <p>
            <img src="~/Images/kutse.png" />
        </p>
    </div>
    <div>
        @Html.ActionLink("Vastan", "Ankeet", new {@class = "btn btn-primary"})
    </div>
</main>